.App-header {
  background-image: url('lol.jpg');
  background-size: cover;
  height: 12rem;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0.1rem #595959;
}

h1 {
  text-decoration: underline;
  text-shadow: 0.2rem 0.2rem #ff0000;
  font-size: 3rem;
  color: #ffd700;
}

#tagline {
  color: #ffd700;
  font-size: 1.5rem;
}
h4 {
  font-size: 1.5rem;
}
.body {
  margin: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* event  */
.eventCard {
  border: 2px silver solid;
  border-radius: 7px;
  padding: 0.7rem;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
h3 {
  font-size: 1.2rem;
}
.buttonBox {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
}
.playersHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.playerCard {
  border: 2px silver solid;
  border-radius: 7px;
  padding: 0.7rem;
  margin: 0.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#form {
  margin: 0.4rem;
  padding: 0.4rem;
}
br {
  margin: 0.4rem;
}
