.App-header {
  background-image: url('lol.jpg');
  height: 150px;
  padding: 20px;
  color: #ffd700;
  text-align: center;
}

/* .App-title {
  font-size: 1.5em;
} */
/*
.App-intro {
  font-size: large;
} */
h1 {
  font-size: 2rem;
}
